<!DOCTYPE html>
<html>
    <head>
        <title>Mobile Lock</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body                        { margin: 0; font-family: sans-serif; }
            h1                          { color: white; background-color: black; text-align: center; margin: 0; padding: 0.3em; }
            section                     { margin: .5em; }
            small                       { display: block; color: #666; }
        </style>
    </head>
    <body>
        <h1>Mobile Lock</h1>
        <section id="add">
        </section>
        <section id="devices">
        <h2>Mobiles en cours d’utilisation :</h2>
        <ul>
        </ul>
        </section>
    </body>
    <script type="text/template" id="tpl-devices">
            <% _.each(devices, function(device) { %>
            <li><strong><%= device.who %></strong> : <%= device.name %> <small>(<%= device.ua %>)</small></li>
            <% }); %>
    </script>
    <script src="components/underscore/underscore.js"></script>
    <script src="components/jquery/jquery.js"></script>
    <script>
        var MobileLock = (function(undefined) {

            var $devices = $('#devices ul');
            var tplDevices = _.template($('#tpl-devices').text());

            var launch = function() {
                $.get('/api/devices', function(devices) {
                    $devices.html(tplDevices(devices));
                });
            }
            $(launch);
        })();
    </script>
</html>
